$indent: 10px;

$dark-blue: #483d8b;
$indigo: rgb(110, 17, 177);
$light-blue: #d4cdff;
$light-blue-200: #e2defd;
$gray: gray;
$light-gray: lightgray;
$white: white;

$font-size: 16px;

$border-radius: 3px;