@import '../../styles/variables.scss';

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $indent;

  color: $indigo;
  
  &:nth-child(n) {
    background-color: $light-blue;
  }
  
  &:nth-child(2n) {
    background-color: $light-blue-200;
  }

  &__container {
    position: relative;

    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    margin-right: $indent;
  }

  &.todo--done,
  &.todo--selected.todo--done {
    color: $gray;
  }

  &.todo--selected {
    background-color: $dark-blue;
    color: $white;
  }

  &__line-through {
    position: absolute;

    height: 1px;
    width: 100%;
    background-color: $gray;
  }

  &__id,
  &__description {
    margin-right: $indent;
  }

  &__description {
    max-width: 350px;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__candidate {
    margin-left: auto;
  }

  &__buttons {
    display: flex;

    .button {
      width: 30px;

      margin-right: 10px;

      font-weight: bold;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}