@import '../../styles/variables.scss';

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $indent;

  &:nth-child(n) {
    background-color: $light-blue;
  }

  &:nth-child(2n) {
    background-color: $light-blue-200;
  }

  &__id,
  &__description {
    margin-right: $indent;
  }

  &__buttons {
    display: flex;
    margin-left: auto;

    .button {
      width: 30px;

      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}