@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 70px;

  padding: 10px;

  background-color: $dark-blue;

  &__block {
    $size: 30px;

    width: $size;
    height: $size;

    background-color: silver;
  }
}