@import '../../styles/variables.scss';

.todos {
  display: flex;
  justify-content: space-between;

  padding: 0 $indent;

  .todos-list,
  .preview {
    flex-basis: 150px;
    flex-grow: 1;

    border: 1px solid $indigo;
    border-radius: $border-radius;
  }

  .preview {
    min-width: 50%;
    max-width: 50%;
    margin-left: $indent;
  }
}